body {
  background: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 1rem;
}

h1 {
  color: #FAB800;
}

.mr-2 {
  margin-right: 1rem;
}

.channel-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin: 0 -.5rem;
}

.channel-item {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: .2rem;
  margin: 0 .5rem 1rem;
  display: flex;
  flex-direction: column;
}

.channel-label {
  padding: 2rem 1rem;
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.channelAction-list {
  display: flex;
}

.channelAction-item {
  background: #fff;
  flex: 1;
  border: none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 1rem;
  font-weight: bold;
}

.channelAction-item:hover {
  background: #eee;
  cursor: pointer;
}

.channelAction-item:active {
  background: #ddd;
}

.channelAction-item:first-child {
  border-bottom-left-radius: .2rem;
}
.channelAction-item:last-child {
  border-bottom-right-radius: .2rem;
  border-right: none;
}